.add-button {
  margin: auto 0px;
}

.card-headers {
  padding: 10px;
}

.dropdown {
  width: 200px;
  max-width: 200px;
}

.width-btn {
  width: 127px;
}

.today-date {
  color: #f6f6f6;
}

.margin-date {
  margin: 3px 0px;
}
