<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-sm-6 display-100">
            <h4 class="page-title">Quản lý điểm danh</h4>
          </div>
          <div class="col-sm-6 display-none">
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a href="#">Den-coffee</a></li>
              <li class="breadcrumb-item active">Quản lý điểm danh</li>
            </ol>
          </div>
        </div>
        <!-- end row -->
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="card m-b-30">
            <div class="card-body">
              <form [formGroup]="inputDateForm">
                <div class="row mb-3">
                  <div class="col-lg-2 width-btn">
                    <div class="d-flex">
                      <label class="d-flex__label">Ngày làm việc </label>
                      <input type="date" name="birthday" class="form-control date-width" formControlName="attendanceDate">
                    </div>
                  </div>
                  <div class="col-lg-2 width-btn">
                    <div class="add-button">
                      <a class="btn btn-primary btn-sm" (click)="search()">Tìm kiếm</a>
                    </div>
                  </div>
                </div>
              </form>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th scope="col" class="width-20">Họ và tên</th>
                    <th scope="col" class="width-13">Giờ bắt đầu</th>
                    <th scope="col" class="width-10">Giờ kết thúc</th>
                    <th scope="col" class="width-10">Số giờ làm</th>
                  </tr>
                  </thead>
                  <tbody>
                  <ng-container *ngFor="let item of attendanceList">
                    <tr>
                      <td>{{item.employee.fullname}}</td>
                      <td>{{item.startDateTime}}</td>
                      <td>{{item.endDateTime | nullHyphen}}</td>
                      <td>{{getAttendanceHour(item.startDateTime, item.endDateTime) | number: "1.0-1" | nullHyphen}}</td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END ROW -->
    </div>
    <!-- container-fluid -->
  </div>
</div>
