<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-sm-6 display-100">
            <h4 class="page-title">Quản lý địa chỉ IP</h4>
          </div>
          <div class="col-sm-6 display-none">
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a>Den-coffee</a></li>
              <li class="breadcrumb-item active">Quản lý địa chỉ IP</li>
            </ol>
          </div>
        </div>
        <!-- end row -->
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="card m-b-30">
            <div class="card-body">
              <div class="card-headers">
                <div class="">
                  <div class="d-flex mb-2">
                    <div class="add-button">
                      <a class="btn btn-primary btn-sm" (click)="showAddIpAddressModal()"><i class="bi bi-plus"></i>Thêm địa chỉ IP</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th scope="col" class="text-center">Địa chỉ IP</th>
                    <th scope="col" colspan="2"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of ipAddressList">
                    <td class="text-center">{{item.ipAddress}}</td>
                    <td>
                      <div class="text-center">
                        <a class="btn btn-primary btn-sm" (click)="showEditIpAddressModal(item.ipAddressId, item.ipAddress)">Sửa</a>
                        <a class="btn btn-danger btn-sm margin-left" (click)="showDeleteIpAddressModal(item.ipAddressId)">Xóa</a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END ROW -->
    </div>
    <!-- container-fluid -->
  </div>
</div>

<ng-container>
  <ng-template #body>
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <form [formGroup]="inputIpAddressForm">
            <div class="row">
              <label class="col-sm-12 col-form-label fw-bold text-center">Nhập địa chỉ IP</label>
              <div class="col-sm-12">
                <input type="text" formControlName="ipAddress" class="form-control">
                <div class="message-error" *ngIf="hasError('ipAddress','required')">
                  <p class="mb-0">* Vui lòng nhập địa chỉ IP.</p>
                </div>
                <div class="message-error" *ngIf="hasError('ipAddress','existIpAddress')">
                  <p class="mb-0">* Địa chỉ IP đã tồn tại trong danh dách.</p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </ng-template>
  <ng-template #footer>
    <div class="search-button">
      <ng-container *ngIf="statusForm == 1">
        <a class="btn btn-primary btn-sm margin-right" (click)="addIpAddress()">Thêm</a>
      </ng-container>
      <ng-container *ngIf="statusForm == 2">
        <a class="btn btn-primary btn-sm margin-right" (click)="editIpAddress()">Sửa</a>
      </ng-container>
    </div>
  </ng-template>
  <app-content-dialog [id]="inputIpAddressModalId" [width]="'300px'" [header]="header" [body]="body" [footer]="footer">
  </app-content-dialog>
</ng-container>

<ng-container>
  <ng-template #deleteIpAddressBody>
    <p>Bạn có chắc chắn xóa địa chỉ IP này không không ???</p>
  </ng-template>
  <ng-template #deleteIpAddressFooter>
    <div>
      <a class="btn btn-primary btn-sm" (click)="deleteIpAddress()">Chấp nhận</a>
      <a class="btn btn-danger btn-sm margin-left" (click)="cancelDeleteIpAddress()">Hủy</a>
    </div>
  </ng-template>
  <app-content-dialog [id]="deleteIpAddressModalId" [width]="'300px'" [header]="message" [body]="deleteIpAddressBody"
                      [footer]="deleteIpAddressFooter">
  </app-content-dialog>
</ng-container>
