<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-sm-6 display-100">
            <h4 class="page-title">Nhân Viên</h4>
          </div>
          <div class="col-sm-6 display-none">
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a href="#">Den-coffee</a></li>
              <li class="breadcrumb-item active">Nhân Viên</li>
            </ol>
          </div>
        </div>
        <!-- end row -->
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="card m-b-30">
            <div class="card-body">
              <div class="card-headers">
                <div class="">
                  <div class="d-flex">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle bg-color" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Nhân viên đang làm
                      </button>
                      <ul class="dropdown-menu dropdown-menu_display" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Nhân viên đang làm</a></li>
                        <li><a class="dropdown-item" href="#">Tất cả nhân viên</a></li>
                        <li><a class="dropdown-item" href="#">Nhân viên đã nghỉ</a></li>
                      </ul>
                    </div>
                    <div class="add-button">
                      <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-plus"></i>Thêm</a>
                    </div>
                  </div>
                </div>
                <div class="search">
                  <div class="search-bar">
                    <form class="search-form" method="POST" action="#"><input type="text"
                    name="query" placeholder="Search" title="Enter search keyword">
                    </form>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th scope="col">Họ Và Tên</th>
                    <th scope="col">Ngày Sinh</th>
                    <th scope="col">Giới Tính</th>
                    <th scope="col">Số Điện Thoại</th>
                    <th scope="col">Địa Chỉ</th>
                    <th scope="col">Trạng Thái</th>
                    <th scope="col" colspan="2"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of pageOfItems">
                    <td>{{item.fullname}}</td>
                    <td>{{item.birthday}}</td>
                    <td>{{setGender(item.gender)}}</td>
                    <td>{{item.phoneNumber}}</td>
                    <td>{{item.address}}</td>
                    <td class="status">{{setStatus(item.status)}}</td>
                    <td>
                      <div>
                        <a href="#" class="btn btn-primary btn-sm">Chi Tiết</a>
                        <a href="#" class="btn btn-primary btn-sm margin-left" (click)="addEmployee()">Sửa</a>
                        <a href="#" class="btn btn-danger btn-sm margin-left">Xóa</a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer">
                <pagination [items]="items" (changePage)="onChangePage($event)"></pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END ROW -->
    </div>
    <!-- container-fluid -->
  </div>
</div>
