<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-sm-6 display-100">
            <h4 class="page-title">Nhân Viên</h4>
          </div>
          <div class="col-sm-6 display-none">
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item"><a href="#">Den-coffee</a></li>
              <li class="breadcrumb-item active">Nhân Viên</li>
            </ol>
          </div>
        </div>
        <!-- end row -->
      </div>
      <div class="row">
        <div class="col-xl-12">
          <div class="card m-b-30">
            <div class="card-body">
              <div class="card-headers">
                <div class="">
                  <div class="d-flex">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle bg-color" type="button" id="dropdownMenuButton1"
                              data-bs-toggle="dropdown" aria-expanded="false">
                        {{title}}
                      </button>
                      <ul class="dropdown-menu dropdown-menu_display" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" (click)="getAllEmployeeByStatus(workingStatus)">Nhân viên đang làm</a></li>
                        <li><a class="dropdown-item" (click)="getAllEmployeeByStatus(notWorkingStatus)">Nhân viên đã nghỉ</a></li>
                      </ul>
                    </div>
                    <div class="add-button">
                      <a class="btn btn-primary btn-sm" (click)="showEmployeeAdditionModal()"><i class="bi bi-plus"></i>Thêm</a>
                    </div>
                  </div>
                </div>
                <div class="search">
                  <div class="search-bar">
                    <form class="search-form" method="POST" action="#"><input type="text"
                                                                              name="query" placeholder="Search"
                                                                              title="Enter search keyword">
                    </form>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th scope="col" class="width-15">Họ Và Tên</th>
                    <th scope="col" class="width-10">Ngày Sinh</th>
                    <th scope="col" class="width-10">Giới Tính</th>
                    <th scope="col" class="width-15">Số Điện Thoại</th>
                    <th scope="col" class="width-20">Địa Chỉ</th>
                    <th scope="col" class="width-15" *ngIf="title == workingEmployeeList">Lương cơ bản</th>
                    <th scope="col" colspan="2"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of pageOfItems">
                    <td>{{item.fullname}}</td>
                    <td>{{item.birthday}}</td>
                    <td>{{setGender(item.gender)}}</td>
                    <td>{{item.phoneNumber}}</td>
                    <td>{{item.address}}</td>
                    <td *ngIf="title == workingEmployeeList"><i class="bi bi-arrow-up-square" (click)="showSalaryIncreaseModal(item)"></i> {{item.salary | addComma}} vnd</td>
                    <td>
                      <div>
                        <a class="btn btn-primary btn-sm" (click)="showWorkHistory(item.employeeId)">Chi Tiết</a>
                        <ng-container *ngIf="title == workingEmployeeList">
                          <a class="btn btn-primary btn-sm margin-left" (click)="showEmployeeEditionModal(item.employeeId)">Sửa</a>
                        </ng-container>
                        <ng-container *ngIf="item.status === 1">
                          <a class="btn btn-danger btn-sm margin-left" (click)="showChangeStatusModal(item.employeeId, 0)">Nghỉ</a>
                        </ng-container>
                        <ng-container *ngIf="item.status === 0">
                          <a class="btn btn-danger btn-sm margin-left" (click)="showChangeStatusModal(item.employeeId, 1)">Làm lại</a>
                        </ng-container>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer">
                <pagination [items]="items" (changePage)="onChangePage($event)"></pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END ROW -->
    </div>
    <!-- container-fluid -->
  </div>
</div>

<ng-container>
  <ng-template #body>
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="message-error">
            <p>{{messageError}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form [formGroup]="employeeAdditionForm">
            <div class="row mb-3">
              <label class="col-sm-4 col-form-label fw-bold">Họ và tên: </label>
              <div class="col-sm-8">
                <input type="text" formControlName="fullname" class="form-control">
                <div class="message-error" *ngIf="hasError('fullname','required')">
                  <p class="mb-0">* Vui lòng nhập họ và tên.</p>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4 col-form-label fw-bold">Giới tính: </label>
              <div class="col-sm-8">
                <div class="form-check form-check-inline">
                  <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="inlineRadio1"
                         value="1">
                  <label class="form-check-label" for="inlineRadio1">Nam</label>
                </div>
                <div class="form-check form-check-inline">
                  <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="inlineRadio2"
                         value="0">
                  <label class="form-check-label" for="inlineRadio2">Nữ</label>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4 col-form-label fw-bold">Ngày sinh: </label>
              <div class="col-sm-8">
                <input type="date" name="birthday" class="form-control date-width" formControlName="birthday">
                <div class="message-error" *ngIf="hasError('birthday','required')">
                  <p class="mb-0">* Vui lòng nhập ngày sinh.</p>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4 col-form-label fw-bold">Số điện thoại: </label>
              <div class="col-sm-8">
                <input type="text" formControlName="phoneNumber" class="form-control"
                       (keypress)="numericOnly($event)">
                <div class="message-error" *ngIf="hasError('phoneNumber','required')">
                  <p class="mb-0">* Vui lòng nhập số điện thoại.</p>
                </div>
                <div class="message-error" *ngIf="hasError('phoneNumber','minlength') || hasError('phoneNumber','maxlength')">
                  <p class="mb-0">* Số điện thoại phải là 10 số.</p>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4 col-form-label fw-bold">Địa chỉ: </label>
              <div class="col-sm-8">
                <textarea type="text" formControlName="address" class="form-control"></textarea>
                <div class="message-error" *ngIf="hasError('address','required')">
                  <p class="mb-0">* Vui lòng nhập địa chỉ.</p>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-sm-4 col-form-label fw-bold">Lương cơ bản: </label>
              <div class="col-sm-8">
                <input type="text" formControlName="salary" class="form-control" addCommaDirective
                       (keypress)="numericOnly($event)">
                <div class="message-error" *ngIf="hasError('salary','required')">
                  <p class="mb-0">* Vui lòng nhập lương cơ bản.</p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </ng-template>
  <ng-template #footer>
    <div>
      <ng-container *ngIf="statusForm == 1">
        <a class="btn btn-primary btn-sm margin-right" (click)="addEmployee()">Thêm</a>
      </ng-container>
      <ng-container *ngIf="statusForm == 2">
        <a class="btn btn-primary btn-sm margin-right" (click)="editEmployee()">Sửa</a>
      </ng-container>
      <a class="btn btn-danger btn-sm" (click)="cancelEmployeeAddition()">Thoát</a>
    </div>
  </ng-template>
  <app-content-dialog [id]="employeeAdditionModalId" [width]="'500px'" [header]="header" [body]="body"
                      [footer]="footer">
  </app-content-dialog>
</ng-container>

<ng-container>
  <ng-template #messageBody>
    <ng-container *ngIf="statusForm == 1">
      <p>Thêm nhân viên thành công !!!</p>
    </ng-container>
    <ng-container *ngIf="statusForm == 2">
      <p>Sửa nhân viên thành công !!!</p>
    </ng-container>
  </ng-template>
  <ng-template #messageFooter>
    <div>
      <a class="btn btn-danger btn-sm" (click)="exit()">OK</a>
    </div>
  </ng-template>
  <app-content-dialog [id]="successAddModalId" [width]="'300px'" [header]="message" [body]="messageBody"
                      [footer]="messageFooter">
  </app-content-dialog>
</ng-container>

<ng-container>
  <ng-template #workHistoryBody>
    <div class="table-responsive">
      <table class="table table-modal">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Ngày bắt đầu</th>
          <th scope="col">Ngày nghỉ</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of workHistoryListByEmployeeId; let i = index">
          <td>Lần {{i+1}}</td>
          <td>{{item.startDate}}</td>
          <td>{{item.endDate | nullHyphen}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
  <ng-template #workHistoryFooter>
    <div>
      <a class="btn btn-danger btn-sm" (click)="exitWorkHistory()">Thoát</a>
    </div>
  </ng-template>
  <app-content-dialog [id]="workHistoryModalId" [width]="'500px'" [header]="workHistory" [body]="workHistoryBody"
                      [footer]="workHistoryFooter">
  </app-content-dialog>
</ng-container>

<ng-container>
  <ng-template #changeStatusBody>
    <ng-container *ngIf="statusForChangeStatus === 0">
      <p>Bạn có chắc chắn cho nhân viên nghỉ không ???</p>
    </ng-container>
    <ng-container *ngIf="statusForChangeStatus === 1">
      <p>Bạn có chắc chắn cho nhân viên làm lại không ???</p>
    </ng-container>
  </ng-template>
  <ng-template #changeStatusFooter>
    <div>
      <a class="btn btn-primary btn-sm" (click)="changeStatus(employeeIdForChangeStatus, statusForChangeStatus)">Chấp nhận</a>
      <a class="btn btn-danger btn-sm margin-left" (click)="cancelChangeStatus()">Hủy</a>
    </div>
  </ng-template>
  <app-content-dialog [id]="changeStatusModalId" [width]="'300px'" [header]="message" [body]="changeStatusBody"
                      [footer]="changeStatusFooter">
  </app-content-dialog>
</ng-container>

<ng-container>
  <ng-template #salaryIncreaseBody>
    <form [formGroup]="salaryIncreaseForm">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <label class="col-sm-4 col-form-label fw-bold">Nhân viên: </label>
            <div class="col-sm-8 col-form-label">
              <p>{{salaryIncreaseEmployeeId.fullname}}</p>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-form-label fw-bold">Lương hiện tại: </label>
            <div class="col-sm-8 col-form-label">
              <p>{{salaryIncreaseEmployeeId.basicSalary | addComma}} vnd</p>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4 col-form-label fw-bold">Lương mới: </label>
            <div class="col-sm-8">
              <input type="text" formControlName="salaryIncrease" class="form-control" addCommaDirective
                     (keypress)="numericOnly($event)">
              <div class="message-error" *ngIf="hasSalaryIncreaseError('salaryIncrease','required')">
                <p class="mb-0">* Vui lòng nhập lương mới.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-form-label">
              <p class="mb-0" style="color: red;">* Chú ý: Lương mới sẽ được áp dụng vào tháng sau</p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template #salaryIncreaseFooter>
    <div>
      <a class="btn btn-primary btn-sm" (click)="increaseSalary()">Chấp nhận</a>
      <a class="btn btn-danger btn-sm margin-left" (click)="cancelSalaryIncrease()">Hủy</a>
    </div>
  </ng-template>
  <app-content-dialog [id]="salaryIncreaseModalId" [width]="'440px'" [header]="salaryIncreaseMessage" [body]="salaryIncreaseBody"
                      [footer]="salaryIncreaseFooter">
  </app-content-dialog>
</ng-container>
